body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: url('bg1.jpg') no-repeat center center fixed;
    background-size: cover; /* Ensure the image covers the entire background */
    color: #333;
}

header {
    background-color: rgba(106, 19, 61, 0.9); 
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d2b48c; /* Tan */
}

.container {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.3); /* White with slight transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align content */
}

.gallery {
    display: inline-block; /* Ensure container wraps around content */
}

.gallery h2 {
    text-align: center; /* Center align the h2 */
}

.artworks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}


.artworks img {
    position: relative;
    width: calc(33.333% - 50px); 
    height: auto;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.artworks img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#names{
    font-family:'Courier New', Courier, monospace ;
    background-color: rgba(0,0,0,0.5);
    color: whitesmoke;
    font-size: 18px;
    height: min-content;
    width: 100%;
    margin-bottom: 0;
}

footer {
    background-color:rgba(106, 19, 61, 0.9); 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
